#bootstrap-overrides{
    
  .navbar{

  }
  .navbar-default{

  }
  .csa-nav {
    border: none;
    background-color: #4C81C5;
    margin-bottom: 0;
    border-radius: 0px;
    font: 16px/1.5 "Manrope", sans-serif;
    color: #FBFEF9;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #FBFEF9;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 6px solid #4C81C5;
    border-top: 6px solid #4C81C5;
  }

  .navbar-default .navbar-nav > li > .active {
    border-bottom: 6px solid #335785;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color:  #335785;
    color: #FBFEF9;
  }

  .navbar-default .navbar-nav>li>a:focus {
    color: #FBFEF9;
  }

  .navbar-default .navbar-nav > .active > a {
    border-bottom: 6px solid #335785;
    border-top: 6px solid #335785;
  }

  @media (min-width:768px) {
    .navbar {
      border-radius: 0px;
    }
  }

  #navbar-brand {
    padding: 6px;
    padding-top: 10px;
    padding-left: 20px;
  }

  #navbar-brand > img {
    border-radius: 48%;
  }
  
}