#bootstrap-overrides { 
    #about-banner {
        background-image: url('../img/2019 MLK Parade.png');
        background-color: #ffffff;
        background-size: cover;
        background-position-y: 40%;
    }
}