#bootstrap-overrides {
    .csa-board .col-sm-6 {
  border: 1px solid rgba(233, 233, 233, 0.7);
  padding: 10px;
  min-height: 600px;
}
/*
.csa-board > .col-sm-3 {
  border-left: 5px solid rgba(233, 233, 233, 0.7);
  border-top: 5px solid rgba(233, 233, 233, 0.7);
  padding: 20px;
  height: 500px;
}

.csa-board .col-sm-3:nth-child(4n + 0) {
  border-right: 5px solid rgba(233, 233, 233, 0.7);
}

.csa-board .col-sm-3:nth-last-child(-n + 4) {
  border-bottom: 5px solid rgba(233, 233, 233, 0.7);
}

.csa-board .col-sm-6:nth-child(even) {
  border-right: none;
}
*/
.csa-board .board-image img {
  width: 50% !important;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.csa-delay-1 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  box-animation-delay: 0.25s;
}

.csa-delay-2 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  box-animation-delay: 0.5s;
}

.csa-delay-3 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  box-animation-delay: 0.75s;
}

.csa-delay-4 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  box-animation-delay: 1s;
}
}