#bootstrap-overrides{ 
    .main-img-container {
        position: relative;
    }

    .main-img-bg {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .main-bg-img {
        height: 30vw;
        position: relative;
        background: #FEF9EF;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}