#bootstrap-overrides{ 
    body,
    html {
    font-size: 16px;
    font-family: "Sora", sans-serif;
    }
    a, a:active, a:focus {
    outline: none;
    font-family: 'Sora', sans-serif;
    }

    h1 {
    font-size: 2.5rem;
    font-family: 'Manrope', sans-serif;
    }

    h2 {
    font-size: 2rem;
    font-family: 'Manrope', sans-serif;
    }

    h4 {
    font-size: 1.25rem;
    font-family: 'Manrope', sans-serif;
    }

    p {
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
    }

    small {
    font-size: 0.875rem;
    }

    #root {
    flex-grow: 1;
    }

    .bar-divider {
    width: 100%;
    height: 2px;
    }
        .main-img-container {
            position: relative;
        }

        .main-img-bg {
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .main-bg-img {
            height: 30vw;
            position: relative;
            background: #FEF9EF;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
}