#bootstrap-overrides { 
    .home-section {
        background-color: #E6E8E6;
        margin-top: 3vw;
        /* margin-bottom: 3vw; */
    }

    #home-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    #home-banner {
        background-image: url('../img/geisel.png');
        background-color: #ffffff;
        background-position-y: 25%;
        background-size: 100%;
    }

    

    .board-image > img {
        border-radius: 50%;
        height: auto;
        /* object-fit: scale-down; */
    }

    .main-title {
        display: flex;
        justify-content: center;
    }
    #about-card {
        display: flex;
        min-height: 30vw;
        justify-content: space-between;
        padding: 15px;
    }
    #about-us-blurb {
        flex-direction: column;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
    }
    #collage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
    }

    #collage img {
        object-fit: cover;
    }

    .collage-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contact-button {
    display: flex;
        border-radius: .6rem;
        background: #FFAD69;
        width: 150px;
        height: 40px;
        justify-content: space-around;
        align-items: center;
        margin: 15px;
    }

    #contact-button > a {
        color: #FBFEF9;
    }
    .event-card {
        transition: all 0.3s;
    }

    .event-card:hover {
        transform: scale(1.03);
    }

    #event-cards {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        min-height: 200px;
    }
}